body {
    margin-top: 200px;
}

.container1 {
    width: 360px;
    margin: auto;
    margin-top: 200px;
    padding: 50px;
}

p{
    background-color: #9EC285;

    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#add-task {
    padding-top: 10px;
    display: flex;
}

table {
    color: #F2A443;
}


.btn {
    background-color: white;
    color: #9EC285;
    margin-left: 5px;
}

#submit-button {
    border: 2px solid #9EC285;
}

#text-input {
    border: 2px solid #9EC285;
}